* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body{
	background-color: #eaeaea;
}
.wrapper{
	margin: 0 auto;
	width: 1200px;
}
.header{
	height: 56px;
	background-color: #69836b;
}
.header ul{
display: flex;
justify-content: flex-end;
padding-left: 187px;

}
.header ul li{
	list-style: none;
	padding-top: 15px;
	padding-right: 110px;
	color: aliceblue;
}
.header ul li a{
	text-decoration: none;
	color: aliceblue;
	font-size: 18px;
}
.header ul li a:hover{
	text-decoration: underline;
	color: darkgreen;
}
.no-boxshadow{
	margin-right: 50px;
}
.search-box{
	width: 220px;
}
#bao{					
	width: 1200px;
	height: 600px;
	overflow: hidden;
}
#photo {			/*图片轮播*/
	width: 6000px;
	animation: switch 15s ease-out infinite;/*  某个元素应用了一个名为 "switch" 的动画效果，该动画将持续15秒，并且按照 ease-out 曲线进行速度变化，而且会循环播放，不断重复整个动画过程  */
}
#photo img {
	float: left;
	width: 1200px;
	height: 600px;
}
@keyframes switch {
	0%, 5% {
		margin-left: 0;
	}
	20%, 30% {
		margin-left: -1200px;
	}
	40%, 55% {
		margin-left: -2400px;
	}
	60%, 75% {
		margin-left: -3600px;
	}
	85%, 100% {
		margin-left: -4800px;
	}
}
h2{
	color: #69836b;
	line-height: 80px;
	font-size: 20px;
	text-align: center;
	background-color: #F3F9EC;
}
.main{
	background-color: #F3F9EC;
	position: absolute;
	width: 1200px;
}
.con{
	width: 100%;
	height: 360px;
	border-radius: 180px;
	background-color: #C9E2A8;
	color: #fff;
	margin-bottom: 38px;
}
.pic img{
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
}
.pic:nth-child(2n+1){
	float: left;
}
.gyp {
  font-size: 35px;
  margin-bottom: 25px;
}
.sp {
  width: 1000px;
  font-size:20px;
}
.sp:hover{
	color: #008000;
}
.c-2 .pic,.c-4 .pic,.c-6 .pic{
	float: right;
}
.c-2 .sp,.c-4 .sp,.c-6 .sp{
	width: 780px;
	font-size: 20px;
}
.tent:nth-child(2n){
	position: relative;
	left: 70px;
	top: 20px;
}
.fotter{
	background-color: #69836b;
	height: 60px;
	position: relative;
	top: 2400px;
	text-align: center;
}
.fotter p{
	color: aliceblue;
	padding-top: 18px;
}